/*
  Vulchi Vijaya Kumar
*/
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  position: relative;
  min-height: 450px;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}