/* Vulchi Vijaya Kumar */

/* reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

/* font-face */
@font-face {
  font-family: 'interstate-light';
  src: url('fonts/interstate-light.woff2') format('woff2'),
       url('fonts/interstate-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'interstate-light';
  font-size: 18px;
  background-color: #fff;
  color: #000;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

/* typo */
p {
  margin: 15px 0;
}

.sm-mt {
  margin-top: 10px;
}

.md-mt {
  margin-top: 15px;
}

.lg-mt {
  margin-top: 20px;
}

ul {
  margin: 15px 0 0;
  padding-left: 30px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* header */
.stripe-line {
  height: 3px;
  background-image: linear-gradient(to right, #ff027b, #ff365f, #ff5b44, #ff7c28, #ff9b00);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 16px;
}

header {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}

nav a {
  display: inline-block;
  margin: 0 5px;
  color: linear-gradient(to right, #ff027b, #ff365f, #ff5b44, #ff7c28, #ff9b00);
}

nav a:hover {
  text-decoration: line-through;
}

nav a.active {
  text-decoration: line-through;
}

/* grid layout */
.container {
  padding: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-3,
.col-4,
.col-5,
.col-6,
.col-12 {
  padding: 0 15px;
}

.grid-960,
.grid-1024 {
  margin: 0 auto;
}

.grid-960 {
  max-width: 960px;
}

.grid-1024 {
  max-width: 1024px;
}

/* content */
.content {
  position: fixed;
  top: 57px;
  right: 0;
  bottom: 54px;
  left: 0;
  overflow-y: auto;
}

/* skills  & portfolio */
.skills span,
.portfolio span {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 1px;
  padding: 4px 6px;
  background-color: aliceblue;
}

/* portfolio */
.portfolio span {
  background-color: honeydew;
}

/* footer */
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
  color: #999;
  text-align: right;
}

footer {
  box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.1);
}

footer p {
  margin: 0;
}

/* contact page */
.contact {
  display: table;
  width: 100%;
  height: calc(100% - 111px);
  text-align: center;
}

.contact .container {
  display: table-cell;
  vertical-align: middle;
}

.email {
  font-size: 22px;
}

.phone {
  font-size: 20px;
}

.social-links {
  font-size: 20px;
}

@media (min-width: 1280px) {
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-12 {
    float: left;
  }
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }
}
