/*
  Vulchi Vijaya Kumar
*/
a {
  text-decoration: none;
}
a {
  color: #000;
}
.mobile-menu {
  display: none;
}
.main-nav {
  float: right;
  padding: 26px 0;
}
.main-nav a {
  text-transform: capitalize;
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
}
.main-nav a:hover,
.main-nav a.-active {
  border-bottom: 1px solid #000;
}
