/*
  Vulchi Vijaya Kumar
*/

.vj-logo {
  display: inline-block;
  font-size: 0;
}
.vj-logo:hover {
  border: 0;
}
.vj-logo > span {
  display: inline-block;
  vertical-align: bottom;
  font-family: "open-sans-bold", arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
}
.vj-logo .dot {
  width: 40px;
  height: 40px;
  margin-right: 2px;
  font-size: 0;
  line-height: 40px;
  border-radius: 50%;
  background-color: #000;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: box-shadow .3s;
  text-align: center;
}
.vj-logo .dot > span {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.vj-logo > b {
  display: block;
  margin-top: 2px;
  font-size: 10px;
  font-weight: 400;
  color: #999;
  text-indent: 0px;
}
