/*
  Vulchi Vijaya Kumar
*/

/*
  color pallet: https://material.io/guidelines/style/color.html#color-color-palette
*/

.slider {
  height: 100%;
  width: 500%;
}
.story {
  position: relative;
  float: left;
  height: 100%;
  width: 20%;
}
.story .center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 1px 2px 0px rgba(0,0,0,.24);
}
.story .center h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
.story .center h1 {
  margin-bottom: 15px;
  font-size: 50px;
}
.story.-a {
  background-color: #9575CD;
}
.story.-b {
  background-color: #BA68C8;
}
.story.-c {
  background-color: #F06292;
}
.story.-d {
  background-color: #7986CB;
}
.story.-e {
  background-color: #90A4AE;
}

@media (max-width: 767px) {
  .story .center {
    width: 85%;
    text-shadow: 0 3px 0 rgba(0,0,0,.24);
  }
  .story .center h2 {
    font-size: 24px;
  }
  .story .center h1 {
    font-size: 36px;
  }
}
