
html {
  height: 100%;
  line-height: 1.3;
	box-sizing: border-box;
}
*,
*:after,
*:before {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
}
h1, h2, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
	height: 100%;
	font-family: cursive, sans-serif;
	font-size: 16px;
	background-color: #fff;
}
header {
	position: relative;
	z-index: 10;
	height: 36px;
	text-align: center;
}
.scoreCard {
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
  font-weight: bold;
}
.main-nav,
.scoreCard {
	display: inline-block;
	margin: 5px 5px;
	padding: 0 6px;
  line-height: 26px;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.24);
	border-radius: 3px;
	background: #fff;
	color: #000;
}
.main-nav {
	position: absolute;
	z-index: 8;
	top: 0;
	left: 0;
	overflow: hidden;
	text-align: left;
}
.menuBtn {
	display: block;
}
.menuBtn.-open + .sub-nav {
	max-height: 200px;
}
.main-nav li {
	cursor: pointer;
}
.sub-nav {
	max-height: 0;
	transition: max-height 350ms;
}
.container {
	width: 100%;
	height: calc(100% - (36px));
	border-top: 1px solid #fff;
}
.container > div {
	position: relative;
	z-index: 0;
	float: left;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	cursor: pointer;
  background-color: #3498db;
}
.container > div.clicked {
  background-color: #fff;
}
.bomb.clicked::after,
.bomb.clicked::before {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
}
.bomb.clicked::after {
  top: 55%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  background-color: #c0392b;
}
.bomb.clicked::before {
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  margin: -10px 0 0 -2px;
  background-color: #000;
}
.app-title {
	display: inline-block;
	font-size: 16px;
	line-height: 36px;
}
.btn {
	display: inline-block;
	letter-spacing: 1px;
	padding: 5px 10px;
	font-size: 16px;
	background-color: #16a085;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.24);
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
.overlay {
  position: fixed;
  z-index: 7;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.90);
  text-align: center;
}
.overlay .start-game > .startGameBtn,
.overlay .end-game {
  margin-top: 50px;
}
.overlay h2 {
  margin-bottom: 15px;
}