header {
	padding: 30px 0 0;
	text-align: center;
}
.logo {
	font-family: 'open-sans-regular', sans-serif;
	font-size: 28px;
}
.desktop-nav {
	margin: 30px 0 10px;
	a {
		margin-right: 6px;
		border-bottom: 1px dashed #f1f1f1;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			border-color: #000;
		}
	}
}