/* playing with css variable with js styles */
:root {
  --base-color: #f00;
  --spacing: 10px;
  --blur: 10px;
}

figure {
  margin: 15px 0;
}

figure img {
  display: block;
  padding: var(--spacing);
  background-color: var(--base-color);
  filter: blur(var(--blur));
}

.base-color {
  color: var(--base-color);
}
