/* global styles */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: cursive;
  background-color: #f5f5f5;
  color: #666;
}

header {
  padding: 15px 0;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.fixed {
  position: fixed;
  z-index: 99999;
}

.fixed-bottom {
  right: 0;
  bottom: 30px;
  left: 0;
}

.align-center {
  text-align: center;
}

.hide-mobile {
  display: none;
}

@media screen and (min-width: 980px) {
  .only-mobile {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  .fixed-bottom {
    bottom: 50px;
  }
}
