/* Goodreads stles */

/* global styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  box-sizing: border-box;
  line-height: 1.6;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #2f3542;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', arial;
  background-color: #f9f9f9;
  color: #2f3542;
}

header,
footer {
  padding: 15px 0;
}

header {
  border-bottom: 1px solid #eee;
}

footer {
  font-size: 12px;
  border-top: 1px solid #eee;
  color: #999999;
}

h1 {
  font-size: 18px;
}

/* sticky footer */
html,
body {
     height: 100%;
}

header {
  height: 69px;
}

.main-container {
  min-height: 100%;
  margin-bottom: -50px;
}

.main-container:after {
  content: "";
  display: block;
}

.main-container:after,
footer {
  height: 50px;
}

/* component Aka reusable styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.mb-sm {
  margin-bottom: 20px;
}

.align-center {
  text-align: center;
}

.heading-title {
  margin: 10px 0 20px;
}

/* card box design */
.card-box {
  position: relative;
  overflow: hidden;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
}

.card-box--search {
  margin: 15px 0;
}

/* form styles */
input,
button {
  font-size: 14px;
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #18dcff;
}

button {
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #18dcff;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 350ms;
}

button:hover {
  background-color: #17c0eb;
}

.search-form {
  /*overflow: hidden;*/
}

.search-form .input-field {
  float: left;
  width: 75%;
}

.search-form .search-field {
  width: 25%;
}

.input-field {
  position: relative;
}

.input-field input[type='text'] {
  border-radius: 3px 0 0 3px;
}

.search-field button {
  width: 100%;
  letter-spacing: 1px;
  border-radius: 0 3px 3px 0;
}

.input-error {
  position: absolute;
  top: -11px;
  left: 5px;
  padding: 2px 5px;
  font-size: 13px;
  background-color: #fff;
  color: #ff3838;
}

.search-result-error {
  padding: 5px 0;
  font-size: 13px;
  color: #ff3838;
}

/* search result styles */
.search-results {
  position: relative;
  margin: 15px 0;
  overflow: hidden;
}

.search-results header {
  overflow: hidden;
  padding: 5px 0 0;
  border: none;
}

.search-results header p {
  font-size: 14px;
}

.pagination-controls {
  overflow: hidden;
  visibility: hidden;
  font-size: 14px;
}

.pagination-controls nav {
  float: right;
}

.pagination-controls.is-enable {
  visibility: visible;
}

.pagination-controls a {
  display: inline-block;
  margin: 0 6px;
  font-weight: bold;
  color: #18dcff;
}

.pagination-controls a:hover {
  display: inline-block;
  margin: 0 6px;
  color: #17c0eb;
}

.pagination-prev.is-disable {
  opacity: 0.4;
  pointer-events: none;
}

.pagination-next.is-disable {
  opacity: 0.4;
  pointer-events: none;
}

.search-results_child {
  margin: 5px 0 15px;
}

.search-results_child .col-3 {
  position: relative;
  height: 226px;
  overflow: hidden;
  width: 48%;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin: 1%;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
}

.search-results_child img {
  max-width: 100%;
  margin: 10px auto;
}

.search-results_child figcaption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 55px;
  padding: 10px;
  font-size: 13px;
  background-color: #f6f6f6;
}

/* loader */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;
  height: 2px;
  background-color: #17c0eb;
}

.loader.is-active::before {
  animation: loader 600ms infinite both;
}

@keyframes loader {
  from { right: 50%; left: 50%; }
  to { left: 0; right: 0; }
}

@media screen and (min-width: 640px) {
  header h1 {
    text-align: center;
  }
  h1 {
    font-size: 24px;
  }
  .search-results_child .col-3 {
    width: 31.33%;
  }

  .search-form .input-field {
    width: 85%;
  }

  .search-form .search-field {
    width: 15%;
  }
}

@media screen and (min-width: 840px) {
  .search-results_child .col-3 {
    width: 23%;
  }
}
