/* @vulchi.vijay */

@font-face {
  font-family: 'source-sanspro-regular';
  src: url('../fonts/source-sanspro-regular.woff2') format('woff2'),
       url('../fonts/source-sanspro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --theme-color: #087CE6;
  --color-white: #ffffff;
  --color-black: #000000;
}

html {
  box-sizing: border-box;
  line-height: 1.6;
}

*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover,
a.is--active {
  color: var(--theme-color);
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'source-sanspro-regular', sans-serif, arial;
  font-size: 16px;
  background-color: var(--color-white);
  color: #000000;
}

/* help classes */
.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}

.align-center {
  text-align: center;
}

.theme-color {
  color: var(--theme-color);
}

.title-heading {
  text-transform: capitalize;
  padding: 25px 0;
  font-size: 30px;
}

h3,
p {
  padding-bottom: 15px;
}

.border-top-gray {
  border-top: 1px solid #eeeeee;
}

/* header */
header {
  overflow: hidden;
}

header .container {
  padding: 10px;
}

/* footer */
footer {
  font-size: 14px;
}

footer p {
  padding: 0;
}

footer p span {
  display: block;
}

/* logo */
.logo {
  display: inline-block;
  font-weight: bold;
  line-height: 1.2;
  color: var(--color-black);
}

.logo figure {
  max-width: 240px;
  display: inline-block;
}

.logo img,
.logo figcaption {
  display: inline-block;
  vertical-align: bottom;
}

.logo img {
  width: 45px;
}

.logo span {
  display: block;
}

/* navigation */
.primary-nav {
  display: none;
}

.mobile-burger {
  position: relative;
  width: 40px;
  height: 2px;
  float: right;
  margin: 24px 0;
  display: inline-block;
  background-color: var(--color-black);
  transition: background-color 350ms ease;
}

.mobile-burger.is--active {
  background-color: transparent;
}

.mobile-burger::after,
.mobile-burger::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  transition: transform 350ms ease-in;
}

.mobile-burger::after {
  top: -10px;
}

.mobile-burger::before {
  bottom: -10px;
}

.mobile-burger.is--active::after,
.mobile-burger.is--active::before {
  background-color: var(--color-black);
}

.mobile-burger.is--active::after {
  transform: rotate(-45deg);
}

.mobile-burger.is--active::before {
  transform: rotate(45deg);
}

.mobile-burger.is--active + .primary-nav {
  padding: 15px 0;
  display: block;
}

.primary-nav a {
  display: block;
  padding: 5px 0;
  color: var(--color-black);
}

.sticky-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
}

.sticky-header.sticky-header--active {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.24);
}

/* content */
.home {
  position: relative;
  z-index: 999;
  background-image: url(../img/hmserve-1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
}

.home::before {
  content: '';
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.home .container {
  position: relative;
  height: 100%;
  z-index: 100;
}

.home h1 {
  font-size: 30px;
}

.all-center {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 20px;
  }

  .logo img {
    width: 60px;
  }

  .mobile-burger {
    display: none;
  }

  .primary-nav {
    float: right;
    display: inline-block;
    margin: 20px 0;
  }

  .primary-nav a {
    margin: 0 15px;
    display: inline-block;
  }

  .home h1 {
    font-size: 50px;
  }
}
