/* @vulchi.vijay */

@font-face {
  font-family: 'source-sanspro-regular';
  src: url('../fonts/source-sanspro-regular.woff2') format('woff2'),
       url('../fonts/source-sanspro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --theme-color: #087CE6;
  --color-white: #ffffff;
  --color-black: #000000;
}

html {
  box-sizing: border-box;
  line-height: 1.6;
}

*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover,
a.is--active {
  color: var(--theme-color);
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'source-sanspro-regular', sans-serif, arial;
  font-size: 16px;
  background-color: var(--color-white);
  color: #000000;
}

/* help classes */
.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}

.align-center {
  text-align: center;
}

.theme-color {
  color: var(--theme-color);
}

.title-heading {
  text-transform: capitalize;
  padding: 25px 0;
  font-size: 30px;
}

h3,
p {
  padding-bottom: 15px;
}

.border-top-gray {
  border-top: 1px solid #eeeeee;
}

section {
  padding-top: 68px;
}

/* buttons */
button {
  text-transform: uppercase;
  cursor: pointer;
}

.btn {
  margin: 15px 0;
  padding: 10px 20px;
  font-size: 14px;
  background-color: var(--theme-color);
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
  color: var(--color-white);
  border: none;
  transition: all 350ms;
}

.btn:hover {
  box-shadow: 0 0 2px 0 rgba(05, 0, 0, 0.24);
}

/* header */
header {
  overflow: hidden;
}

header .container {
  padding: 10px;
}

/* footer */
footer {
  font-size: 14px;
}

footer p {
  padding: 0;
}

footer p span {
  display: block;
}

/* logo */
.logo {
  display: inline-block;
  font-weight: bold;
  line-height: 1.2;
  color: var(--theme-color);
}

.logo figure {
  max-width: 240px;
  display: inline-block;
}

.logo img,
.logo figcaption {
  display: inline-block;
  vertical-align: bottom;
}

.logo img {
  width: 45px;
}

.logo span {
  display: block;
}

/* navigation */
.primary-nav {
  display: none;
}

.mobile-burger {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 7.5px 0;
  float: right;
  display: inline-block;
}

.mobile-burger.is--active span {
  height: 0;
}

.mobile-burger span {
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  width: 25px;
  margin-top: -1px;
  background-color: #000000;
  border-radius: 1px;
  transition: all 100ms;
}
.mobile-burger span::after,
.mobile-burger span::before {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 30px;
  background-color: #000000;
  border-radius: 1px;
  transition: all 200ms;
}

.mobile-burger span::after {
  top: -7px;
}

.mobile-burger span::before {
  bottom: -7px;
}

.mobile-burger.is--active span::after,
.mobile-burger.is--active span::before {
  background-color: #000000;
  top: 0;
}

.mobile-burger.is--active span::after {
  transform: rotate(45deg);
}

.mobile-burger.is--active span::before {
  transform: rotate(-45deg);
}

.mobile-burger.is--active + .primary-nav {
  padding: 15px 0 0;
  display: block;
}

.primary-nav a {
  display: block;
  padding: 5px 0;
  color: var(--color-black);
}

.sticky-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
}

.sticky-header.sticky-header--active {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.24);
}

/* content */
.home {
  position: relative;
  z-index: 999;
  color: var(--color-white);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/hmserve-1.jpg');
}

.home::before {
  content: '';
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.home .container {
  position: relative;
  z-index: 100;
}

.home h1,
.home p {
  line-height: 1.2;
}

.home h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

.home p {
  padding-bottom: 0;
}

.all-center {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  padding: 20px;
  transform: translateY(-50%);
  text-align: center;
}

.contact-us {
  position: relative;
}

.google-map iframe {
  min-height: 350px;
  width: 100%;
  background-color: #dddddd;
}

.company-address {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 20px;
  }

  .logo img {
    width: 60px;
  }

  .mobile-burger {
    display: none;
  }

  .primary-nav {
    float: right;
    display: inline-block;
    margin: 20px 0;
  }

  .primary-nav a {
    margin: 0 15px;
    display: inline-block;
  }

  section {
    padding-top: 85px;
  }

  .home h1 {
    font-size: 50px;
  }

  .google-map iframe {
    min-height: 600px;
  }

  .company-address {
    position: absolute;
    z-index: 900;
    bottom: 100px;
    left: 80px;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
  }

  footer p span {
    display: inline;
  }
}
