.ash {
	background: #606c88;
	background: -webkit-linear-gradient(left, #3f4c6b, #606c88);
	background: -o-linear-gradient(left, #3f4c6b, #606c88);
	background: linear-gradient(to right, #3f4c6b, #606c88);
}

.reef {
	background: #00d2ff;
	background: -webkit-linear-gradient(left, #3a7bd5, #00d2ff);
	background: -o-linear-gradient(left, #3a7bd5, #00d2ff);
	background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

.skyline {
	background: #1488CC;
	background: -webkit-linear-gradient(left, #2B32B2, #1488CC);
	background: -o-linear-gradient(left, #2B32B2, #1488CC);
	background: linear-gradient(to right, #2B32B2, #1488CC);
}

.dimigo {
	background: #ec008c;
	background: -webkit-linear-gradient(left, #fc6767, #ec008c);
	background: -o-linear-gradient(left, #fc6767, #ec008c);
	background: linear-gradient(to right, #fc6767, #ec008c);
}

.greenbeach {
	background: #02AAB0;
	background: -webkit-linear-gradient(left, #00CDAC, #02AAB0);
	background: -o-linear-gradient(left, #00CDAC, #02AAB0);
	background: linear-gradient(to right, #00CDAC, #02AAB0);
}

.seaweed {
	background: #4CB8C4;
	background: -webkit-linear-gradient(left, #3CD3AD, #4CB8C4);
	background: -o-linear-gradient(left, #3CD3AD, #4CB8C4);
	background: linear-gradient(to right, #3CD3AD, #4CB8C4);
}

.cherry {
	background: #EB3349;
	background: -webkit-linear-gradient(left, #F45C43, #EB3349);
	background: -o-linear-gradient(left, #F45C43, #EB3349);
	background: linear-gradient(to right, #F45C43, #EB3349);
}

.kashmir {
	background: #614385;
	background: -webkit-linear-gradient(left, #516395, #614385);
	background: -o-linear-gradient(left, #516395, #614385);
	background: linear-gradient(to right, #516395, #614385);
}

.daytripper {
	background: #f857a6;
	background: -webkit-linear-gradient(left, #ff5858, #f857a6);
	background: -o-linear-gradient(left, #ff5858, #f857a6);
	background: linear-gradient(to right, #ff5858, #f857a6);
}

.aqualicious {
	background: #50C9C3;
	background: -webkit-linear-gradient(left, #96DEDA, #50C9C3);
	background: -o-linear-gradient(left, #96DEDA, #50C9C3);
	background: linear-gradient(to right, #96DEDA, #50C9C3);
}

.shadownight {
	background: #000000;
	background: -webkit-linear-gradient(left, #53346D, #000000);
	background: -o-linear-gradient(left, #53346D, #000000);
	background: linear-gradient(to right, #53346D, #000000);
}

.amethyst {
	background: #9D50BB;
	background: -webkit-linear-gradient(left, #6E48AA, #9D50BB);
	background: -o-linear-gradient(left, #6E48AA, #9D50BB);
	background: linear-gradient(to right, #6E48AA, #9D50BB);
}

.haikas {
	background: #fd746c;
	background: -webkit-linear-gradient(left, #ff9068, #fd746c);
	background: -o-linear-gradient(left, #ff9068, #fd746c);
	background: linear-gradient(to right, #ff9068, #fd746c);
}

.blush {
	background: #B24592;
	background: -webkit-linear-gradient(left, #F15F79, #B24592);
	background: -o-linear-gradient(left, #F15F79, #B24592);
	background: linear-gradient(to right, #F15F79, #B24592);
}

.purplin {
	background: #6a3093;
	background: -webkit-linear-gradient(left, #a044ff, #6a3093);
	background: -o-linear-gradient(left, #a044ff, #6a3093);
	background: linear-gradient(to right, #a044ff, #6a3093);
}

.purple80s {
	background: #41295a;
	background: -webkit-linear-gradient(left, #2F0743, #41295a);
	background: -o-linear-gradient(left, #2F0743, #41295a);
	background: linear-gradient(to right, #2F0743, #41295a);
}

.orangecoral {
	background: #ff9966;
	background: -webkit-linear-gradient(left, #ff5e62, #ff9966);
	background: -o-linear-gradient(left, #ff5e62, #ff9966);
	background: linear-gradient(to right, #ff5e62, #ff9966);
}