html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/*
*	font-face
*/


@font-face {
  font-family: 'dancing_scriptregular';
  src: url('fonts/dancingscript-regular-webfont.woff2') format('woff2'),
       url('fonts/dancingscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansregular';
  src: url('fonts/josefinsans-regular-webfont.woff2') format('woff2'),
       url('fonts/josefinsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_slabregular';
  src: url('fonts/josefinslab-regular-webfont.woff2') format('woff2'),
       url('fonts/josefinslab-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
* reset
*/
html {
	line-height: 1.4;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-shadow: 0 0 0 rgba(0,0,0,.14);
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html,
body {
	height: 100%;
}
body {
	font-family: 'josefin_sansregular', arial;
	font-size: 18px;
}

header {
	position: fixed;
	z-index: 999999;
	top: 0;
	width: 100%;
}
header .container {
	padding: 15px;
}
header a {
	color: #fff;
}
header.sticky {
	-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	background-color: #fff;
}
header.sticky a {
	color: #000;
}
.logo {
	display: inline-block;
	font-family: 'dancing_scriptregular', arial;
	font-size: 32px;
	font-weight: bold;
}
.menu-burger {
	display: block;
	float: right;
	position: relative;
	width: 34px;
	height: 3px;
	margin-top: 21px;
	line-height: 1.2;
	font-size: 0;
	background-color: #fff;
}
.menu-burger::after,
.menu-burger::before {
	content: '';
	position: absolute;
	width: 100%;
	display: block;
	background-color: #fff;
	transition: transform 300ms ease;
}
.menu-burger::before {
	top: -12px;
	height: 3px;
	margin-top: 4px;
}
.menu-burger::after {
	bottom: -12px;
	height: 3px;
	margin-bottom: 4px;
}
header.sticky .menu-burger.active,
.menu-burger.active {
	height: 0;
}
.menu-burger.active::before,
.menu-burger.active::after {
	background-color: #fff;
}
.menu-burger.active::before {
	transform: rotate(45deg);
}
.menu-burger.active::after {
	transform: rotate(-45deg);
}
header.sticky .menu-burger {
	height: 3px;
	background-color: #000;
}
header.sticky .menu-burger::after,
header.sticky .menu-burger::before {
	background-color: #000;
}
.main-menu {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.main-menu.opened {
	max-height: 400px;
	margin-top: 15px;
	background-color: #fff;
}
.main-menu li {
	width: 50%;
	float: left;
}
.main-menu li a {
	display: block;
	padding: 10px;
	font-weight: bold;
	color: #000;
}
.container {
	max-width:1024px;
	margin: 0 auto;
	padding: 0 15px;
}
.content {
	height: 100%;
}
.page {
	padding-top: 89px;
}
.page.home {
	position: relative;
	min-height: 100%;
	display: table;
	width: 100%;
	padding-top: 74px;
	background: linear-gradient(45deg, #131D53 0%, #212A51 60%, #2E4B75);
	color: #fff;
}
.page.home .container {
	position: relative;
	z-index: 1;
	display: table-cell;
	vertical-align: middle;
}
.home {
	text-align: center;
}
.css-banner {
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
/* stars */
.stars {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.25);
	animation: blinking 2s ease-in 2s infinite;
}
.stars:nth-child(1) {
	top: 20%;
	left: 18%;
  width: 10px;
  height: 10px;
  background-color: #26a1f4;
	animation-delay: .5s;
}
.stars:nth-child(2) {
	top: 50%;
	left: 4%;
  width: 8px;
  height: 8px;
  background-color: #24c8cf;
	animation-delay: 1s;
}
.stars:nth-child(3) {
	top: 90%;
	left: 22%;
  width: 9px;
  height: 9px;
  background-color: #26a1f4;
	animation-delay: 1.5s;
}
.stars:nth-child(4) {
	top: 23%;
	left: 70%;
  width: 14px;
  height: 14px;
  background-color: #24c8cf;
	animation-delay: 2s;
}
.stars:nth-child(5) {
	top: 52%;
	left: 89%;
  width: 8px;
  height: 8px;
  background-color: #26a1f4;
	animation-delay: 2.5s;
}
.stars:nth-child(6) {
	top: 82%;
	left: 79%;
  width: 10px;
  height: 10px;
  background-color: #24c8cf;
	animation-delay: 3s;
}
.cubes {
	position: absolute;
  z-index: 1;
  top: 80%;
  right: 40%;
  width: 20px;
  height: 20px;
  display: block;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(255,255,255,1);
}
.cubes:before {
	content: '';
	position: absolute;
	z-index: 0;
	top: -2px;
	right: -2px;
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 5px 0 rgba(255,255,255,1);
}
.cube {
  position: absolute;
  top: 34%;
  left: 35%;
  width: 50px;
  height: 50px;
  perspective: 1200px;
}
.cube-child {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  animation: cubeSpin 8s infinite ease-in-out;
}
.cube-view {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
}
.cube-view.front {
	transform: translateZ(100px);
	background-color: hsla(0,100%,50%,0.7);
}
.cube-view.back {
	transform: rotateX(-180deg) translateZ(100px);
	background-color: hsla(60,100%,50%,0.7);
}
.cube-view.right {
	transform: rotateY(90deg) translateZ(25px);
	background-color: hsla(120,100%,50%,0.7);
}
.cube-view.left {
	transform: rotateY(-90deg) translateZ(25px);
	background-color: hsla(180,100%,50%,0.7);
}
.cube-view.top {
	transform: rotateX(90deg) translateZ(25px);
	background-color: hsla(240,100%,50%,0.7);
}
.cube-view.bottom {
	transform: rotateX(-90deg) translateZ(25px);
	background-color: hsla(300,100%,50%,0.7);
}

h1 {
	padding-top: 50px;
	font-size: 26px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
h1 + h3 {
	padding-bottom: 50px;
}
h2 {
	margin-bottom: 10px;
}
p {
	margin-bottom: 15px;
}

.card {
	padding: 15px 15px 15px 0;
}
.card-info {
	overflow: hidden;
}
.card-details {
	display: none;
	padding: 15px 0;
}
.card p {
	margin-bottom: 0;
}
.card .left figure {
	min-height: 60px;
	margin-bottom: 15px;
}
.card .left img {
	width: 60px;
	display: block;
}
.card .left img.rectangle {
	width: 80px;
}
.card .right {
	padding-bottom: 15px;
}

.skills .card {
	padding-bottom: 25px;
}

.skills h5 {
	margin: 25px 0 10px;
}

.skills h5:first-child {
	margin: 10px 0;
}
.skills p {
	position: relative;
	margin: 0 15px;
	padding: 5px 0 10px;
}
.skills p span {
	position: absolute;
	right: 0;
	top: 8px;
	font-size: 15px;
}
.skills p::before,
.skills p::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 5px;
}
.skills p::before {
	right: 0;
	left: 0;
	background-color: #607D8B;
}
.skills p::after {
	background-color: #FFEB3B;
}

.skills p[data="100"]::after {
	width: 100%;
	background-color: #4CAF50;
}
.skills p[data="90"]::after {
	width: 90%;
	background-color: #4CAF50;
}
.skills p[data="80"]::after {
	width: 80%;
	background-color: #4CAF50;
}
.skills p[data="70"]::after {
	width: 70%;
	background-color: #4CAF50;
}
.skills p[data="60"]::after {
	width: 60%;
	background-color: #4CAF50;
}
.skills p[data="50"]::after {
	width: 50%;
	background-color: #FFC107;
}
.skills p[data="40"]::after {
	width: 40%;
	background-color: #FFC107;
}
.skills p[data="30"]::after {
	width: 30%;
}
.skills p[data="20"]::after {
	width: 20%;
}
.skills p[data="10"]::after {
	width: 10%;
}
.skills p[data="5"]::after {
	width: 5%;
}

footer .container {
	padding: 15px;
}

footer p {
	margin-bottom: 0;
}

.read-more {
	font-size: 15px;
	color: #03A9F4;
}

.read-more:hover {
	color: #3F51B5;
}

@keyframes blinking {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255,0.25);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.25);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255,255,255,0.25);
  }
}

@keyframes cubeSpin {
  0% {
    transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-100px) rotateX(360deg) rotateY(360deg);
  }
}

@media only screen and (min-width: 600px) {
  .menu-burger {
  	display: none;
  }
  .main-menu {
  	float: right;
  	max-height: 100px;
  	border: 0;
  }
  .main-menu li,
  .main-menu li:last-child {
  	width: auto;
  	border: 0;
  }
	.main-menu li a {
		color: #fff;
	}
	header.sticky .main-menu a {
		color: #000;
	}
  .main-menu li:nth-child(2n) {
  	border: 0;
  }
  .page {
		padding-top: 129px;
	}
	.page .container {
		overflow: hidden;
	}
	.page.home {
		padding: 104px 15px;
	}
	.page.home .container {
		padding: 0 50px;
	}
	.card {
		float: left;
		width: 50%;
	}
	.home {
		text-align: left;
	}
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size: 30px;
	}
	.cube {
		top: 40%;
		left: 70%;
	}
}

@media only screen and (min-width: 980px) {
	.page {
		padding-top: 89px;
	}
	.page.home {
		padding: 74px 15px;
		background: linear-gradient(45deg, #131D53 0%, #212A51 40%, #2E4B75);
	}
	.page.home .container {
		padding: 0 100px;
	}
	.cube {
		top: 48%;
		left: 60%;
	}
}
