html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/*
*	font-face
*/


@font-face {
  font-family: 'dancing_scriptregular';
  src: url('fonts/dancingscript-regular-webfont.woff2') format('woff2'),
       url('fonts/dancingscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansregular';
  src: url('fonts/josefinsans-regular-webfont.woff2') format('woff2'),
       url('fonts/josefinsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_slabregular';
  src: url('fonts/josefinslab-regular-webfont.woff2') format('woff2'),
       url('fonts/josefinslab-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
* reset
*/
html {
	line-height: 1.4;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-shadow: 0 0 0 rgba(0,0,0,.14);
}

body {
	font-family: 'josefin_sansregular', arial;
	font-size: 16px;
}

header {
	text-align: center;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}
.logo {
	font-family: 'dancing_scriptregular', arial;
	font-size: 32px;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 15px;
}

h1 {
	font-size: 24px;
}
h2 {
	margin-bottom: 10px;
}
h2 + p {
	text-indent: 60px;
}
p {
	margin-bottom: 15px;
}
















