html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/*
*	font-face
*/


@font-face {
  font-family: 'dancing_scriptregular';
  src: url('fonts/dancingscript-regular-webfont.woff2') format('woff2'),
       url('fonts/dancingscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansregular';
  src: url('fonts/josefinsans-regular-webfont.woff2') format('woff2'),
       url('fonts/josefinsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_slabregular';
  src: url('fonts/josefinslab-regular-webfont.woff2') format('woff2'),
       url('fonts/josefinslab-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
* reset
*/
html {
	line-height: 1.4;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-shadow: 0 0 0 rgba(0,0,0,.14);
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'josefin_sansregular', arial;
	font-size: 18px;
}

header {
	position: fixed;
	z-index: 999999;
	top: 0;
	width: 100%;
	background-color: #fff;
}
header .container {
	padding: 15px;
}
header.sticky {
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.14);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.14);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.14);
}
.logo {
	display: inline-block;
	font-family: 'dancing_scriptregular', arial;
	font-size: 32px;
	font-weight: bold;
}
.menu-burger {
	display: block;
	float: right;
	position: relative;
	width: 34px;
	height: 3px;
	margin-top: 21px;
	line-height: 1.2;
	font-size: 0;
	background-color: #000;
}
.menu-burger::after,
.menu-burger::before {
	content: '';
	position: absolute;
	width: 100%;
	display: block;
}
.menu-burger::before {
	top: -12px;
	height: 3px;
	margin-top: 4px;
	background-color: #000;
}
.menu-burger::after {
	bottom: -12px;
	height: 3px;
	margin-bottom: 4px;
	background-color: #000;
}
.menu-burger.active,
.menu-burger.active::before,
.menu-burger.active::after  {
	background-color: #ff0000;
}
.main-menu {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .5s;
	-moz-transition: max-height .5s;
	transition: max-height .5s;
	border-top: 1px solid rgba(0,0,0,0.04);
}
.main-menu.opened {
	max-height: 400px;
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
.main-menu li {
	width: 50%;
	float: left;
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
.main-menu li:nth-child(2n) {
	border-left: 1px solid rgba(0,0,0,0.04);
}
.main-menu li:last-child {
	width: 100%;
	border-bottom: 0;
}
.main-menu li a {
	display: block;
	padding: 10px 15px;
	font-weight: bold;
}

.container {
	max-width:1024px;
	margin: 0 auto;
}
.content {
	height: 100%;
}
.page {
	padding: 89px 15px 0;
}
.page.home {
	min-height: 100%;
	display: table;
	width: 100%;
	padding: 74px 15px;
	animation: cssslider 30s linear infinite;
}
.page.home .container {
	display: table-cell;
	vertical-align: middle;
}
.home {
	text-align: center;
}
h1 {
	padding: 50px 0 0;
	font-size: 26px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
h1 + h3 {
	padding-bottom: 50px;
}
h2 {
	margin-bottom: 10px;
}
p {
	margin-bottom: 15px;
}

.card {
	margin-top: 20px;
	padding: 15px 0;
	// box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.14);
	// border-radius: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
.card:first-child {
	margin-top: 10px;
}
.card-info {
	overflow: hidden;
}
.card-details {
	padding: 15px 0;
	border-top: 1px solid rgba(0,0,0,0.04);
}
.card p {
	margin-bottom: 0;
}
.card .left figure {
	margin-bottom: 15px;
}
.card .left img {
	width: 60px;
	display: block;
}
.card .left img.rectangle {
	width: 80px;
}
.card .right {
	padding-bottom: 15px;
}

.skills h5 {
	margin: 20px 0 10px;
}
.skills p {
	position: relative;
	margin: 0 15px;
	padding: 5px 0 10px;
}
.skills p::before,
.skills p::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 5px;
}
.skills p::before {
	right: 0;
	left: 0;
	background-color: #eee;
}
.skills p::after {
	background-color: #ffff00;
}

.skills p[data="100"]::after {
	width: 100%;
	background-color: #00f000;
}
.skills p[data="90"]::after {
	width: 90%;
	background-color: #00f000;
}
.skills p[data="80"]::after {
	width: 80%;
	background-color: #00f000;
}
.skills p[data="70"]::after {
	width: 70%;
	background-color: #00f000;
}
.skills p[data="60"]::after {
	width: 60%;
	background-color: #ffa500;
}
.skills p[data="50"]::after {
	width: 50%;
	background-color: #ffa500;
}
.skills p[data="40"]::after {
	width: 40%;
	background-color: #ffa500;
}
.skills p[data="30"]::after {
	width: 30%;
}
.skills p[data="20"]::after {
	width: 20%;
}
.skills p[data="10"]::after {
	width: 10%;
}
.skills p[data="5"]::after {
	width: 5%;
}

footer .container {
	padding: 15px;
}

footer p {
	margin-bottom: 0;
}


@keyframes cssslider {
	0% {
		background: #00BCD4;
		color: #fff;
	}
	25% {
		background: #E91E63;
	}
	50% {
		background: #673AB7;
	}
	75% {
		background: #3F51B5;
	}
	100% {
		background: #00BCD4;
		color: #fff;
	}
}


