.menu-burger {
  display: none;
}
.main-menu {
  float: right;
  max-height: 100px;
  border: 0;
}
.main-menu li,
.main-menu li:last-child {
  width: auto;
  border: 0;
}
.main-menu li a {
  color: #fff;
}
header.sticky .main-menu a {
  color: #000;
}
.main-menu li:nth-child(2n) {
  border: 0;
}
.page {
  padding-top: 129px;
}
.page .container {
  overflow: hidden;
}
.page.home {
  padding: 104px 15px;
}
.page.home .container {
  padding: 0 50px;
}
.card {
  float: left;
  width: 50%;
}
.home {
  text-align: left;
}
h1 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
.cube {
  top: 40%;
  left: 70%;
}
